<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sampletv.spagreen"
    tools:ignore="ImpliedTouchscreenHardware">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/ic_launcher_tv"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.sampletv.spagreen.video_service.VideoPlaybackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true" />
        <activity android:name="com.sampletv.spagreen.music_service.MusicPlayerActivity" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.ErrorActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.VideoDetailsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.SignUpActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.PlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.ItemGenreActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.ItemCountryActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.ActivationActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.SearchActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Details.NoSharedElementTransition" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.LeanbackActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sampletv.spagreen.ui.activity.SplashScreenActivity"
            android:banner="@drawable/ic_launcher_tv"
            android:exported="true"
            android:icon="@drawable/ic_launcher_tv"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher_tv"
            android:roundIcon="@drawable/ic_launcher_tv"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="com.sampletv.spagreen.ui.activity.LoginChooserActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sampletv.spagreen.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.sampletv.spagreen.music_service.MusicPlaybackService"
            android:exported="false" />

        <activity
            android:name="com.sampletv.spagreen.video_service.AppLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="app"
                    android:scheme="oxootv" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sampletv.spagreen.video_service.SyncChannelJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.sampletv.spagreen.video_service.SyncProgramsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.sampletv.spagreen.video_service.InitializeChannelsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>